<style>
 :root{
    --nav-width: 250px;
    --font-size: 12px;

    --bg: #0f1115;
    --navbg: #111111;
    --border: #2a2f3a;
    --hover: #232a36;

    --text: #e6e6e6;
}
:root.nav-collapsed{
    --nav-width: 60px;
}

html, body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:var(--bg);
    font-family:monospace;
    font-size:var(--font-size);
    color:var(--text);
    background:#111;
}
html{
    background:#111;
}


    html, body{
        width:100%;
        height:100%;
        overflow:hidden;
        background:var(--bg);
        font-family:monospace;
        font-size:var(--font-size);
    }
    body{
        display:flex;
        flex-direction:column;
           margin:0;
    padding:0;
    }
    #main{
        width:100%;
        height:100%;
    display:grid;
    grid-template-columns:
        var(--nav-width)
        1fr
        1fr;
        --nav-width: 240px;
    }
#main.nav-collapsed{
    --nav-width: 60px;
    outline:5px solid red;
}
    .nav-column{
        background:var(--navbg);
        border-right:1px solid var(--border);
        overflow:auto;
        resize:horizontal;
        min-width:120px;
        max-width:60vw;
        padding:0.1em;
    }
    .iframe-column{
        overflow:hidden;
        border-right:1px solid var(--border);
    }
    iframe{
        width:100%;
        height:100%;
        border:none;
		background:#000000;
		color:#ffffff;
    }
  ul{
    list-style:none;
    margin:0;
    padding:3px;
}
    li{
        margin:0.15em 0;
        user-select:none;
    }
    .toggle{
        cursor:pointer;
        display:block;
        padding:0.2em 0.3em;
        border-radius:4px;
    }
    .toggle:hover{
        background:var(--hover);
    }
    .nested{
        display:none;
        margin-left:1em;
        border-left:1px solid #ccc;
        padding-left:0.5em;
    }
    .open{
        display:block;
    }
    .file-link{
        cursor:pointer;
        display:block;
        padding:0.15em 0.3em;
        border-radius:4px;
        word-break:break-word;
    }
    .file-link:hover{
        background:var(--hover);
    }
    select{
        width:100%;
        font-family:monospace;
        font-size:1em;
        padding:0.2em;
    }
    .section-title{
        font-weight:bold;
        padding:0.2em 0.3em;
    }
    .spacer{
        height:0.5em;
    }
 
    </style>
